<div class="opcoes-viagem"><h1>Opções de Viagem</h1>

<div *ngIf="route$ | async as route; else noRoute">
  <p>Origem: {{ route.origin }}</p>
  <p>Destino: {{ route.destination }}</p>
  <img [src]="getRouteMapUrl(route.origin, route.destination, route.encodedPolyline)" alt="Mapa da Rota" />
</div>
<ng-template #noRoute>
  <p>Preencha o endereço de origem e de destino, para procurarmos os motoristas disponíveis.</p>
</ng-template>

<div *ngFor="let item of dados$ | async">
  <div>
      Nome: {{item.driver.name | json}}
      Rating: {{item.driver.rating | json}}
  </div>
  <div>
     Veículo: {{item.driver.vehicle | json}}
     Descrição: {{item.driver.description | json}}
  </div>
  <div>
      Preço/Km: {{item.driver.tax_per_km | json}}
      min/Km: {{item.driver.min_km | json}}
     Valor Viagem: {{item.price | json}}
  </div>
  <button>Selecionar</button>
  
</div>
</div>