<form>
<div class="form-group">
    <label for="Id do usuário">Id do usuário:</label>
    <!-- <input type="text" id="idUsuario" name="idUsuario" [(ngModel)]="idUsuario" /> -->
      <input type="text" id="idUsuario" name="idUsuario" [(ngModel)]="idUsuario" />
</div>
<div class="form-group">
    <label for="Origem">Origem:</label>
    <input type="text" id="origem" name="origem" [(ngModel)]="origem" />
</div>
<div class="form-group">
    <label for="Destino">Destino:</label>
    <input type="text" id="destino" name="destino" [(ngModel)]="destino" />
</div>
</form>
<!-- <br>● Deve conter um formulário com os campos para informar o id do 
usuário, o endereço de origem e o endereço de destino e um 
botão para estimar o valor da viagem 
<br>● Deve fazer a requisição para a API passando os parâmetros 
necessários, ao receber a resposta deve exibir a tela de opções de 
viagem  -->